@media (max-width:1024px){
    .menu-area ul li{padding: 0px 5px;margin-left: -41px;}
    .menu-area ul li a{font-size: 17px;}
    .menu-area ul li span{top: 12px;}

}

@media only screen and (min-width:200px) and (max-width:999px){
    .mobile-menu{display: block;}
    .menu-area{display: none;}
    .left-side{height: auto;}
    .menu-area ul li{padding: 8px 5px;margin-left: -25px;}
    .dbox{width: 97%;}
}

@media only screen and (min-width:200px) and (max-width:750px){
    .header-menu ul li{padding: 10px 5px;}
}