
.left-side{
    padding: 0;
    width: 100%;
    height: 100vh;
   
}
.logo-area{
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.logo-area h4{
    color: #fff;
    padding-top: 20px;   
    padding-left: 15px;
}

.menu-area{
    margin-top: 10px;
}
.menu-area ul{
    width: 100%;
}
.menu-area ul li{
    display: block;
    padding: 5px 20px;
    margin-left: -30px;
}
.menu-area ul li a{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    font-size: 20px;
    letter-spacing: 2px;
    transition: 0.4s;
}
.menu-area ul li a:hover{
    background: rgb(46, 46, 46);
}
.menu-area ul li{
    position: relative;
}
.menu-area ul li  span {
    position: absolute;
    top: 22px;
    right: 30px;
    color: #fff;
}
.menu-area ul li ul{
    display: none;
}
.menu-up{
    display: none;
}

.header-menu ul li{
    display: inline-block;
    padding: 10px 15px;
}
.header-menu ul li a{
    text-decoration: none;
    font-size: 18px;
    color: #000;
    transition: 0.3s;
}
.header-menu ul li a:hover{
    color: blue;
}
.dbox{
    text-align: center;
    align-items: center;
    color: white;
    padding: 30px 35px;
    width: 31%;
    margin: 1%;
    position: relative;
    border-radius: 5px;
   
}
.dbox::before {
    content: " ";
    width: 100%;
    height: 78%;
    position: absolute;
    background: #0c0c0c;
    top: 0;
    left: 0;
    opacity: 0.2;
    border-radius: 5px;
}
.dbox-text {
    width: 93%;
    text-align: left;
    z-index: 999;
    margin-bottom:9px;
}

.dbox h4{
    font-size: 20px;
    font-weight: 600;
}
.dbox h6{
    font-size: 40px;
    font-weight: 700;
}
.dbox-icon {
    font-size: 39px;
    margin-top:18px;
  
}
.more-info {
    z-index: 9999;
    background: #ffffff78;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 1px;
    padding: 3px;
}
.more-info a {
    color: #1b1b1b;
    text-decoration: none;
    font-size: 18px;
   display:block;
}
.more-info a i{
    margin-left:5px;
    font-size:15px;
}
.flex{
    display: flex;
    justify-content: flex-start;
}
.header-menu{
    margin-right: 20px;
}
.za-fimg-box {
    position: relative;
}
.za-removeimg{
    position: absolute;
    top: 15px;
    right: 7px;
    font-size: 30px;
    background: white;
    border-radius: 50%;
    border: 2px solid white;
}

.flex{
    display: flex;
    justify-content: space-between;
}
.logo-area i {
    font-size: 45px;
    color: #fff;
    margin-right: 25px;
    margin-top: 10px;
}
.close-menu,.mobile-menu{
    display: none;
}
